<div class="py-lg-3">
    <h1 class="fs-2 fw-bold">RB.17</h1>
    <p class="fs-5 lh-base">
        The Red Bull RB17 is the Formula 1 single-seater entered by the Austrian team Red Bull Racing and designed
        under the direction of the British engineer Adrian Newey, as part of the 2021 season of the Formula 1 world
        championship. It is driven by Mexican Sergio Pérez, from Racing Point F1 Team, and Dutchman Max Verstappen, who
        is making his sixth season with Red Bull. The Thai Alexander Albon is the reserve pilot.
        The RB16B is presented on February 23, 2021 on the Internet. It is a slight evolution of the Red Bull RB16 from
        the previous season and is the last powered by Honda to retire from Formula 1 at the end of 2020. Engine plans
        have been bought out by Red Bull Racing and AlphaTauri so as not to have to create a complete engine from 2022.
        The RB16B is debugged the day it is presented on the Silverstone circuit by Pérez and Verstappen, as part of a
        promotional shoot.
    </p>
</div>