<div class="py-lg-5 px-lg-5 mx-lg-3">
    <h1 class="fs-2 fw-bold mt-lg-3 mb-lg-3"> New project </h1>
    <form novalidate [formGroup]="projetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="project-name"  class="mb-lg-1">Name</label>
            <input id="project-name" type="name" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="project-description" class="mb-lg-1">Description</label>
            <textarea type="description" class="form-control" formControlName="description" rows="10" cols="50"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>