<div class="py-5 px-5 mx-3">
    <h1 class="fs-2 fw-bold mt-lg-3 mb-lg-3 mb-4"> New member </h1>
    <form novalidate [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="new-dev">Developer</label>
            <select id="new-dev" class="form-select w-50" formControlName="employe">
                <option *ngFor="let employe of employes" [value]="employe.id">{{employe.prenom}} {{employe.nom}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>