<div class="py-lg-5 px-lg-5 mx-lg-3">
    <h1 class="fs-2 fw-bold mt-lg-3 mb-lg-3"> New developer </h1>
    <form novalidate [formGroup]="devForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="dev-first-name" class="mb-lg-1">First name</label>
            <input id="dev-first-name" type="firstName" class="form-control" formControlName="firstName">
        </div>
        <div class="mb-3">
            <label for="dev-last-name" class="mb-lg-1">Last name</label>
            <input id="dev-last-name" type="name" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="dev-role">Role</label>
            <select id="dev-role" class="form-select w-25" formControlName="role">
                <option *ngFor="let role of roles" [value]="role.id">{{role.nom_role}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>