<div fxLayout="column" fxFill class="project">
    <div fxLayout="column" fxLayoutAlign="space-between none" fxFlex="20" class="project-part parent">
        <h1>{{project?.nom_projet}} Status Board</h1>

        <div fxLayout="row" fxLayoutAlign="space-between end" class="buttons">
            <button mat-button (click)="goToOverview()">Overview</button>
            <div fxLayoutGap="20px" class="button-right">
                <button mat-button (click)="goToTeam()">Team</button>
                <button mat-button (click)="goToTask()">Taks</button>
            </div>

        </div>

    </div>
    <div fxFlex="80" class="project-part child">
        <router-outlet></router-outlet>
    </div>
</div>