<h1>Team members</h1>

<div class="card-container">

    <div *ngFor="let employe of projet.employes">


        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{employe.nom}} {{employe.prenom}}</mat-card-title>
                <button mat-icon-button (click)="removeFromTeam(employe)" color="primary">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-list aria-label="list compétence">
                    <div *ngFor="let comp of employe.competences">
                        <mat-chip class="chip"> {{comp.nomCompetence}}</mat-chip>
                    </div>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>