<div class="row justify-content-end mb-lg-3">
    <a routerLink='/new-task/{{projet.id}}' routerLinkActive="active"
        class="col-auto p-0 fs-6 text-muted text-decoration-none d-flex align-items-end">
        <i class="bi bi-plus fs-5"></i>
        <span> Add task </span>
    </a>
</div>

<div class="row justify-content-between gx-lg-5">

    <div id="free-tasks-section" class="col-4 border rounded-start pt-2">

        <div class="row justify-content-start">
            <h4 class="col-auto text-muted fs-5 fw-bold bg-light-pastel-orange rounded py-1">FREE</h4>
            <h4 class="col-auto text-muted fs-5 fw-light rounded py-1 ms-lg-2"> {{freeList.length}} </h4>
        </div>

        <div class="row justify-content-start task-container px-3 pb-2">
            <div *ngFor="let tache of freeList" class="card w-100 my-lg-4 border-0 px-0 shadow h-auto">
                <div class="card-body">
                    <h5 class="card-title fs-4">{{tache?.nom_tache}}</h5>
                    <h6 class="card-text mb-2 text-muted">
                        {{tache?.description}}
                    </h6>
                    <a routerLink='/update-task/{{tache.id}}' routerLinkActive="active"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="in-progress-tasks-section" class="col-4 border-top border-bottom pt-2">

        <div class="row justify-content-start">
            <h4 class="col-auto text-muted fs-5 fw-bold bg-light-pastel-yellow rounded py-1">IN PROGRESS</h4>
            <h4 class="col-auto text-muted fs-5 fw-light rounded py-1 ms-lg-2"> {{inProgressList.length}} </h4>
        </div>
        <div class="row justify-content-start task-container px-3 pb-2">
            <div *ngFor="let tache of inProgressList" class="card w-100 my-lg-4 border-0 px-0 shadow h-auto">
                <div class="card-body">
                    <h5 class="card-title fs-4">{{tache?.nom_tache}}</h5>
                    <h6 class="card-text mb-2 text-muted">{{tache?.description}}</h6>
                    <div class="footer row justify-content-between d-flex align-items-center mt-3 px-2">
                        <a href="#"
                            class="card-link me-2 col-auto">{{tache?.employe?.prenom}}.{{tache?.employe?.nom}}</a>
                        <button class="btn btn-success float-end col-auto" id="task-done-btn"
                            (click)="clicked(tache.id,true)"> COMPLETE </button>
                        <a routerLink='/update-task/{{tache.id}}' routerLinkActive="active"><i
                                class="bi bi-pencil"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="in-progress-tasks-section" class="col-4 border rounded-end pt-2">

        <div class="row justify-content-start">
            <h4 class="col-auto text-muted fs-5 fw-bold bg-light-pastel-green rounded py-1">DONE</h4>
            <h4 class="col-auto text-muted fs-5 fw-light rounded py-1 ms-lg-2"> {{doneList.length}} </h4>
        </div>

        <div class="row justify-content-start task-container px-3 pb-2">
            <div *ngFor="let tache of doneList" class="card w-100 my-lg-4 border-0 px-0 shadow h-auto">
                <div class="card-body">
                    <h5 class="card-title fs-4">{{tache?.nom_tache}}</h5>
                    <h6 class="card-text mb-2 text-muted">
                        {{tache?.description}}
                    </h6>
                    <a href="#" class="card-link me-2">{{tache?.employe?.prenom}}.{{tache?.employe?.nom}}</a>
                    <button class="btn btn-danger float-end col-auto" id="task-done-btn"
                        (click)="clicked(tache.id,false)"> UNCOMPLETE </button>
                    <a routerLink='/update-task/{{tache.id}}' routerLinkActive="active"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>