<div fxLayout="row" class="task-container">
    <div fxFill fxFlex="33" class="new-task-container">
        <h2>Free : 1</h2>
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFill fxFlex="33" class="progress-task-container">
        <h2>In Progress : 2</h2>
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFill fxFlex="33" class="new-task-container">
        <h2>Donne : 3</h2>
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Clean Code</mat-card-title>
                    <button mat-icon-button color="primary">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>lorem machin chouette</p>
                    <p>assigned to: Le roux</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>