.card-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    border: solid;
    height: 150px;
    width: 200px;
}

.task-container {
    max-height: 60vh;
    overflow-y: auto;
}

/* #task-done-btn {
    border: 0;
    background-color: transparent;
} */
