<div fxLayout="row" class="task-container">

    <button routerLink='/new-task/{{projet.id}}' routerLinkActive="active">Nouvelle tache</button>
    <div fxFill fxFlex="33" class="new-task-container">
        <h2>Free : 1</h2>
        <div class="card-container">
            <div *ngFor="let tache of freeList">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>{{tache?.nom_tache}}</mat-card-title>
                        <button mat-icon-button color="primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{tache?.description}}</p>
                        <p>assigned to: {{tache?.employe?.nom}}.{{tache?.employe?.prenom}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
    <div fxFill fxFlex="33" class="progress-task-container">
        <h2>In Progress : 2</h2>
        <div class="card-container">
            <div *ngFor="let tache of inProgressList">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>{{tache?.nom_tache}}</mat-card-title>
                        <button mat-icon-button color="primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{tache?.description}}</p>
                        <p>assigned to: {{tache?.employe?.nom}}.{{tache?.employe?.prenom}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFill fxFlex="33" class="new-task-container">
        <h2>Done : 3</h2>
        <div class="card-container">
            <div *ngFor="let tache of doneList">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>{{tache?.nom_tache}}</mat-card-title>
                        <button mat-icon-button color="primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{tache?.description}}</p>
                        <p>assigned to: {{tache?.employe?.nom}}.{{tache?.employe?.prenom}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>